[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mediapipe = "*"
opencv-python = "*"
django-crispy-forms = "*"
tensorflow = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
