[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mediapipe = "*"
opencv-python = "*"
django-crispy-forms = "*"
tensorflow = "*"
pillow = "*"
scikit-learn = "*"
django = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "~=3.9"
